<style type="text/css">@import "css/default/login.css";</style>
<form id="login" action="index.php" onsubmit="submit();" accept-charset="UTF-8" method="POST">
  <p>You are not logged. Please, <a href="#">login</a>.</p> 
  <table border="0" cellspacing="0" cellpading="0">
     <tr>
       <td>Login:</td>
       <td><input type="text" id="username" name="username" value=""/></td>
     </tr>
     <tr>
       <td>Password:</td>
       <td><input type="password" id="userpass" name="userpass" value=""/></td>
     </tr>
     <tr id="login-submit">
        <td>&nbsp;</td>
        <td><input type="submit" value="Odešli"/></td>
     </tr>
  </table>
</form>